[defaults]
inventory = inventory/hosts.yml
roles_path = roles:.galaxy/roles
collections_path = .galaxy/collections
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
