# Managed by Ansible: mountain_tile_backend
COMPOSE_PROJECT_NAME={{ mountain_tile_backend_compose_project }}
HOST_PORT={{ mountain_tile_backend_host_port }}
NGINX_IMAGE={{ mountain_tile_backend_nginx_image }}
PMTILES_IMAGE={{ mountain_tile_backend_pmtiles_image }}
PMTILES_CACHE_SIZE_MB={{ mountain_tile_backend_pmtiles_cache_size_mb }}
PUBLIC_BASE_URL={{ mountain_tile_backend_public_base_url }}
